@charset "UTF-8";
* {
	outline: 0;
    padding: 0;
    margin: 0;
}
html, body{
	width:100%;
	height:100%;
	min-width: 1366px;
	min-height: 720px;
	font-size: 14px;
	font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,"Microsoft YaHei";
}
ul,ol {
	list-style:none;
}
a img, :link img, :visited img {
       border:0px;
} 
caption, th {
    text-align: left;
}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
.cursor-pointer{
	cursor: pointer;
}
i {
	font-style: normal;
}
.suc-tab-pane.ng-scope.ng-hide {
	visibility: hidden;
	display: block !important;
}
h4 {
	font-size: 14px;
}