<div class="changePassword" ng-controller="passwordChangeCtrl">
    <div class="window">
        <p>修改密码</p>
        <form name="stepForm2" novalidate="novalidate">
            <div>
                <span>原密码</span>
                <input type="password" name="oldPassword" placeholder="请输入原密码" ng-model="data.oldPassword">
                <p style="color: red" ng-if="!passwordType.hasOldPass&&stepForm2.oldPassword.$dirty">原密码未输入</p>
            </div>
            <div>
                <span>新密码</span>
                <input type="password" placeholder="请输入新密码" ng-model="data.newPassword">
                <p>密码强度:
                    <span ng-class="{'currentLevel':passwordType.level == 1}">弱</span>
                    <span ng-class="{'currentLevel':passwordType.level == 2}">中</span>
                    <span ng-class="{'currentLevel':passwordType.level == 3}">强</span>
                </p>
            </div>
            <div>
                <span>确认新密码</span>
                <input type="password" name="newPasswordConfirm" placeholder="请输入确认新密码" ng-model="data.newPasswordConfirm">
                <p style="color: red" ng-if="!passwordType.confirmPassword&&stepForm2.newPasswordConfirm.$dirty">两次密码输入不相同</p>
            </div>
            <p><button ng-click="saveChange()" class="btn btn-primary" ng-disabled="!passwordType.confirmPassword||!passwordType.hasOldPass">确认修改</button></p>
        </form>
    </div>
</div>