.sucTabOuter{
	width: 100%;
	height: 100%;
}
.sucTabUl{
    height: 35px;
	line-height: 35px;
    overflow: hidden;
    padding: 0 35px;
    border-bottom: 1px solid #ddd;
	background-color: #e6e6e6;
    position: relative;
}
.sucTabUl a{
	display: inline-block;
	padding:0 10px;
	color: #333;
	text-decoration: none;
	width: 165px;
	height: 25px;
    line-height: 25px;
    margin-top: 5px;
    border-right: 1px solid #bbbbbb;
}
 .sucTabUl a:hover {
    background-color: #bbb;
    cursor: pointer;
} 
.sucTabUl a.active{
	background-color: #bbb;
}
.sucTabUl a>i{
	background: url(./img/closeTab.png) no-repeat center center;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-top: 5px;
	float: right;
}
.sucTabUl a>i:HOVER{
	background: url(./img/closeTab1.png) no-repeat;
}
.sucTabUl abbr{
	width: calc(100% - 20px);
	height: 25px;
    white-space: nowrap;
	overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
abbr[title] {
    border: 0;
}
.sucTabCon{
	height: calc(100% - 35px);
}
.sucTabCon>div{
	height: 100%;
}